{% extends "base.html" %}

{% block content %}
<h1>Tous les posts</h1>

{% for post in posts %}
  <div style="margin-bottom: 40px; border-bottom: 1px solid #ccc; padding-bottom: 20px;">



    <p>{{ post.content|truncatechars:120 }}</p>

    {% if post.media %}
        {% if post.is_video %}
            <video controls style="max-width:100%; max-height:300px;">
                <source src="{{ post.media.url }}">
            </video>
        {% else %}
            <img src="{{ post.media.url }}" style="max-width:100%; max-height:300px;">
        {% endif %}
    {% endif %}

    <p>
      Par <strong>{{ post.author.username }}</strong> —
      {{ post.created_at }}
    </p>

  </div>
{% empty %}
  <p>Aucun post pour l’instant.</p>
{% endfor %}

{% endblock %}
