{% extends 'base.html' %}

{% block content %}

<h1>{{ post.title }}</h1>

<p>{{ post.content }}</p>

<p>
    Par <strong>{{ post.author.username }}</strong><br>
    {{ post.created_at }}
</p>

{% if post.media %}
    {% if post.is_video %}
        <video controls style="max-width:100%;">
            <source src="{{ post.media.url }}">
            Ton navigateur est trop vieux pour lire une vidéo.
        </video>
    {% else %}
        <img src="{{ post.media.url }}" alt="{{ post.title }}" style="max-width:100%;">
    {% endif %}
{% endif %}

{% if post.made_ai is not None or post.fake_news is not None %}
  <p>
    <strong>Score IA :</strong> {{ post.made_ai|default:"N/A" }} / 100 — 
    <strong>Score Fake News :</strong> {{ post.fake_news|default:"N/A" }} / 100
  </p>
{% endif %}

{% if post.tags.all %}
  <p>
    <strong>Tags :</strong>
    {% for tag in post.tags.all %}
      <span>#{{ tag.name }}</span>{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </p>
{% endif %}

{% endblock %}
